body{
    margin: 0;
    color: rgb(109, 109, 108);
    font-family: "Montserrat", sans-serif;
    background-color: #27272a;
    margin-left: 200px;
    margin-right: 200px;
    padding: 2px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
#navbar button{
    background-color: #27272a;
    border: none;
    color: rgb(109, 109, 108);
    font-size: medium;
    
}
#navbar button:hover{
    color: #F2910A;
    box-shadow: 5px 5px 5px #202022;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
    padding: 7px;
    margin: 10px;
    margin-top: 0;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 480px;
}
.info-home{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-top: 30px;
}
.img-home{
    margin-left: -130px;
    padding-top: 20px;
}
.img-home img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid #F2910A;
}
.name-home{
   text-align: left;
   margin-left: 10px;
}
h1{
    font-size: 70px;
    font-weight:400;
    color: #FFFFFF;
    margin: 0;
}
h3{
    font-size: 50px;
    font-weight: 300;
    color: #F2910A;
    margin: 0;
}
.introduction-home{
    margin-top: 20px;
}
.more{
    width: 150px;
    height: 30px;
    background-color: #27272a;
    color: white;
    border: 1px solid white;
}
.more:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px #202022;
}
h2{
    color: white;
    text-decoration: underline;
    text-align: center;
}
#about{
    padding-top: 20px;
}
.content-about{
    display: flex;
    flex-direction: column;
}
.p-about{
    color: #F2910A;
}
#skills{
    padding-top: 30px;
}
.grid-skills{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    gap: 20px;
}
.card-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    box-shadow: 5px 5px 5px #202022;
}
.img-skills{
    width: 80px;
    height: 80px;
}
#work{
    padding-top: 30px;
}
.grid-work{
    display: grid;
    grid-template-columns: repeat(2, 460px);
    grid-template-rows: auto;
    gap: 20px;
}
.card-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-work{
    width: 390px;
    height: 250px;
}
#contact{
    padding-top: 20px;
    text-align: center;
}
.card-work p{
    color: #F2910A;
    font-weight: bolder;
}
.form-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
}
.form-contact input{
    height: 40px;
}
.collaborate{
    width: 150px;
    height: 30px;
    background-color: #27272a;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
}
#contact a{
    color: #F2910A;
    text-decoration: none;
}


@media screen and (max-width: 680px) {
    body{
        margin: 0;
    }
    h1{
        font-size: 37px;
    }
    h3{
        font-size: 25px;
    }
    .img-home{
        width: 100px;
        height: 100px;
        margin-left: -15px;
        padding-right: 30px;
    }
    .img-home img{
        width: 180px;
        height: 180px;
        border-radius: 100%;
        border: 2px solid #F2910A;

    }
    .name-home{
        text-align: left;
        margin-left:  60px;
        padding-top: 30px;
    
     }
     .introduction-home{
        margin-top: 60px;
    }
    #about{
        padding: 28px;
    }
    .grid-skills{
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: auto;
        gap: 30px;
        padding-left: 40px;
    }
    .grid-work{
        display: grid;
        grid-template-columns: repeat(1, 460px);
        grid-template-rows: auto;
        gap: 20px;
        padding-left: 29px;
    }
    .form-contact{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 0;
    }
    
}